<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        console.log('test')
    </script>
</head>

<body>
    <nav>
        <ul style="display:flex; flex-direction: row; list-style: none;">
            <li>
                <a href="/">HOME</a>&nbsp;
            </li>
            <li>
                <a href="/students">STUDENTS</a>&nbsp;
            </li>
            <li>
                <a href="/teachers">TEACHERS</a>&nbsp;
            </li>
        </ul>
    </nav>