
<%- include('../partials/head') %>

<form method="post" action="">
  <label>First name
    <input type="text" name="firstName">
  </label>

  <br>

  <label>Last name
    <input type="text" name="lastName">
  </label>

  <br>

  <label>age
    <input type="text" name="age">
  </label>

  <br>

  <input type="submit">
</form>