<%- include('../partials/head.ejs') %>
  <%- include('../partials/navbar.ejs') %>
  <div class="jumbotron">
    <h1>Removie App</h1>
    <p>Live Code 4 - Phase 1 Young Fox</p> 
  </div>
<%- include('../partials/footer.ejs') %>