<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="container" style="margin-top: 2em">
    <div class="jumbotron jumbotron-fluid">
      <div class="container" style="text-align: center">
        <h1 class="display-4">Harverst Moon!</h1>
        <p class="lead">Good Luck!</p>
        <span>Hacktiv8 - Livecode 4</span>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </div>
  <%- include('../partials/scriptBS.ejs') %>
</body>
</html>