<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <%- include('../partials/navbar.ejs')%>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Good Luck</h1>
          <p class="lead">Live Code Week-4 Zen-Fox-2018</p>
        </div>
      </div>
    <%- include('../lib/bootstrap/script.ejs')%>
  </body>
</html>