<br>
<br>
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/factories">Factories</a>
    </li>
  </ul>
</div>
<br>
<br>