<div style="font-family: 'silkscreennormal', Arial, Helvetica, sans-serif;"
    class="uppercase font-mono inline-block mb-1 py-1 px-2 bg-<%= getTagColor(name) %>-500 text-white text-xs rounded inline-flex items-center">
    <span class="pr-1 text-lg jam jam-gamepad-retro-f"></span>
    <%= name %>
</div>