<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
  <%- include('../../partials/form.ejs', { data: factory, url: url, title: "factory" }) %>
</div>
<%- include ../../partials/footer.ejs %>