<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="jumbotron container">
  <h1 class="text-center">Yudhistira inc.</h1> 
  <p class="text-center">Welcome to yudhistira inc.</p> 
</div>
<%- include ../../partials/footer.ejs %>