<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Harvest Moon</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/vegetables">Vegetables<span class="sr-only"(current)></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/transactions">Transactions</a>
        </li>
      </ul>
    </div>
  </nav>
</div>