<% if (info.error) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> <%= info.error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } else if(info.success) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> <%= info.success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } else { %>
  <div></div>
<% } %>