<div class="card <%- cardBorder(data.Kingdom) %>" style="width: 20rem; margin: 30px;">
  <div class="card-body">
    <h5 class="card-title"><%= data.Kingdom.kingdomName%></h5>
    <a href="/kingdoms/<%=data.KingdomId%>" class="card-link">Detail</a>
  </div>
</div>
