<div class="card">
  <div class="card-body">
    <img class="card-img-top" src="https://hacktiv8.com/img/logo-01--md5--0f4f1c19c0064d527c72d44cfe007a08.png" alt="Card image cap">
    <h5 class="card-title"><%= data.title%></h5>
    <p class="card-text"><%= data.synopsis %></p>
  </div>
</div>