<br>
<div class="container">
  <div class="col-md-8">
    <h4>Search</h4>
  </div>
  <form action="/movies" method="get">
    <div class="input-group">      
      <div class="input-group-prepend">
        <select name="option" class="" style="width:200px" > 
          <option value="title">Title</option>
          <option value="rating">Rating</option>
          <option value="createdAt">Year</option>
        </select>
      </div>
      <input type="text" class="form-control col-md-6" name="searchInput" aria-label="Text input with dropdown button">
      <input type="submit" value="submit" class="">      
      </div>  
    </div>
  </form>  
<br>