<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/vehicles/<%=vehicles.id%>" method=POST>
        <input type="radio" name="fuel" value="2"> 2 litre<br>
        <input type="radio" name="fuel" value="2"> 4 litre<br>
        <input type="radio" name="fuel" value="2"> 6 litre<br>
        <input type="radio" name="fuel" value="2"> 8 litre<br>
        <input type="radio" name="fuel" value="2"> 10 litre<br>
        <input id=submit type='submit' value='add fuel to this car'>
    </form>
</body>
</html>