<h2>Loan</h2>
<form action="/loans" method="post">
  Book:
  <br>
  <select name="bookId" class="field" id="bookId" autofocus>
    <% for (let i = 0; i < books.length; i++) { %>
        <option value="<%= books[i].id %>"><%= books[i].title %></option>
    <% } %>
  </select>
  <br>
  Borrower's Name:
  <br>
  <input type="text" name="borrowerName" class="field"
  autocomplete="off" autofocus>
  <br>
  Borrower's Gender:
  <br>
  <select name="borrowerGender" class="field no-mb">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  <br>
  <input type="submit" class="button">
</form>
