<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= airport.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= airport.country %></h6>
    <a href="/airports/<%= airport.id%>" class="card-link">Detail</a>
  </div>
</div>