<div class="row justify-content-around align-items-center bg-light py-3">
  <h3>Bukber Planner</h3>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/schedules">Schedules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/restaurants">Restaurants</a>
    </li>
  </ul>
</div>
