<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <%- include('../partials/style') %>
</head>
<body>
  <div class="container">
    <%- include('../partials/header') %>
    <%- include('edit-a-movie-form') %>
  </div>
</body>
</html>
