<h1 class="mt-3 text-center">Performance Logs</h1>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/"">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/employees">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tasks">Tasks</a>
    </li>
</ul>
<hr>
