.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.orderBy-container {
  display: flex;
  justify-content: center;
}

.container-detail-card {
  display: flex;
  justify-content: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */