<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <div class="container">
      <%- include('./partials/header') %>
      <div class="text-center">
        <img src="/public/images/doge-404.png" alt="Not Found" class="rounded" height="450">
      </div>
  </div>
  <%- include('./partials/scripts') %>
</body>
</html>
