<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <div class="container">
    <%- include('partials/header') %>
    <div class="row">
      <div class="col-lg-8">
        <div class="jumbotron">
          <h1 class="display-4">Welcome!</h1>
          <p class="lead">
            Use this application to measure your employees performance. This application was built
            with Express and Sequelize!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <h5 class="card-header">Note for Foxes</h5>
          <div class="card-body">
            <h5 class="card-title">Focus on features!</h5>
            <p class="card-text">
              You don't have to create the user interface/design exactly like this
              demo application. Ganbatte! 🔥
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/scripts') %>
</body>
</html>
