<nav class="navbar navbar-light mb-3" style="background-color: #e3f2fd;">
  <div class="navbar-brand mb-0 h1">Fundrising</div>
  <div class="d-flex flex-row bd-highlight">
    <div class="p-2 bd-highlight" >
      <a href="/campaigns">Campaign</a>
    </div>
    <div class="p-2 bd-highlight" >
      <a href="/donations">Donations</a>
    </div>
  </div>
</nav>