<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Hogwarts All-Star</title>
  <style>
    .student-box:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  
  <div id="app">
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand h-100">Hogwarts All-Star</a>
      <button v-if="isLogin" class="btn btn-success" @click="logout">Logout</button>
    </nav>
    <div id="login-area" class="container mt-5" v-if="!isLogin">
      <div class="row">
        <div id="login-box" class="col-4 border mx-auto">
          <h5 class="mt-2 text-center"> Login </h5>
          <form class="row p-3" @submit.prevent="login">
            <input class="w-100" type="email" placeholder="Email" v-model="email">
            <input class="w-100 mt-2" type="password" placeholder="Password" v-model="password">
            <input class="w-100 mt-5 btn btn-primary" type="submit" value="LOGIN">
            <small class="text-danger">{{errorLoginText}}</small>
          </form>
        </div>
      </div>
    </div>
    <div id="app-area" v-if="isLogin">
      <div class="container">
        <div class="row">
          <div class="col-7 d-flex flex-wrap" v-if="isLogin">
            <p class="col-12 text-danger">{{errorStudents}}</p>
            <div class="col-4 m-2 border p-2 student-box" v-for="(student, index) in students" @click="setSelectedStudent(student)"
              :style="student === selectedStudent ? { 'background-color': 'PaleGreen' } : { }">
              <h6 class="mb-1">{{student.name}}</h6>
              <p class="mb-0">{{student.house}}</p>
            </div>
          </div>
          <div class="col-5">
            <div class="sticky-top border p-3 mt-2">
                <small class="text-danger">{{errorPlayers}}</small>
                <div class="row mt-3">
                  <button class="btn btn-info btn-xs ml-3" @click="addPlayer('goalkeeper')">Goalkeeper</button>
                  <button class="btn btn-info btn-xs ml-2" @click="addPlayer('chaser')">Chaser</button>
                  <button class="btn btn-info btn-xs ml-2" @click="addPlayer('beater')">Beater</button>
                  <button class="btn btn-info btn-xs ml-2" @click="addPlayer('seeker')">Seeker</button>
                </div>
                <div class="mt-3">
                  <h5>Goalkeeper (1)</h5>
                  <div v-if="goalkeeper" class="row m-2 border p-2 justify-content-between align-items-center">
                    <p class="mb-0">{{goalkeeper.name}}</p>
                    <a class="btn btn-danger btn-xs text-white p-1" @click="removePlayer(goalkeeper._id)"><small>remove</small></a>
                  </div>
                  <h5>Chaser (3)</h5>
                  <div class="row m-2 border p-2 justify-content-between align-items-center" v-for="(player, index) in chaser">
                    <p class="mb-0">{{player.name}}</p>
                    <a class="btn btn-danger btn-xs text-white p-1" @click="removePlayer(player._id)"><small>remove</small></a>
                  </div>
                  <h5>Beater (2)</h5>
                  <div class="row m-2 border p-2 justify-content-between align-items-center" v-for="(player, index) in beater">
                    <p class="mb-0">{{player.name}}</p>
                    <a class="btn btn-danger btn-xs text-white p-1" @click="removePlayer(player._id)"><small>remove</small></a>
                  </div>
                  <h5>Seeker (1)</h5>
                  <div v-if="seeker" class="row m-2 border p-2 justify-content-between align-items-center">
                    <p class="mb-0">{{seeker.name}}</p>
                    <a class="btn btn-danger btn-xs text-white p-1" @click="removePlayer(seeker._id)"><small>remove</small></a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/data.js"></script>
  <script src="js/main.js"></script>
  <script src="js/errorHandler.js"></script>
  <script src="js/auth.js"></script>
 
 
</body>

</html>