<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <%- include('partials/style') %>
</head>
<body>
  <div class="container">
    <%- include('partials/header') %>
    <p>Library Application</p>
  </div>
</body>
</html>
